# Python-Virtualenv
.venv/
venv/

# Poetry-Cache
poetry.lock

# VS Code
.vscode/

# Pycache
__pycache__/
*.pyc

#Graphics folder
graphics/

logs/all.txt
logs/vzs.txt
=======
#Log-Folder
logs/

*.png
*.gif
*.mp4
*.json
logs/ocr_status.json
